.body {
  max-width: 1200px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: rgb(10, 36, 61);
  font-family: sans-serif;
  font-size: 80px;
  font-weight: 700;
}

.field {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 10px;
  background: #1f9fa8d6;
  width: 200px;
  margin: 3px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.label {
  font-style: italic;
  font-size: 56px;
  font-weight: 500;
}

.title {
  display: flex;
  justify-content: center;
  color: rgb(10, 36, 61);
  font-family: Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, sans-serif;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 30px;
}
